.feedback {
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    margin-top: 20px;

    .state {
        font-size: 16px;
        font-weight: 400;
    }

    h3 {
        margin: 10px 0 10px 0;
        cursor: pointer;

        &:hover {
            color: #4661E6;
        }

    }

    p {
        margin-bottom: 15px;

    }

    .foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        .comments {
            display: flex;
            align-items: center;

            span {
                font-size: 16px;
                font-weight: 700;
                margin-left: 10px;
            }
        }
    }
}

.planned {
    border-top: 6px solid #F49F85;
}

.inProgress {
    border-top: 6px solid #AD1FEA;
}

.live {
    border-top: 6px solid #62BCFA;
}