.comment {
    margin-top: 30px;

    .comment_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .img {
            min-width: 40px;
            max-height: 40px;
            border-radius: 50%;
            overflow: hidden;

            img {
                min-width: 40px;
                height: 40px;
            }

        }

        .names {
            width: 100%;
            margin-left: 30px;
        }
    }

    .content {
        margin-left: 20px;

        .text {
            padding-left: 50px;
            span {
                margin-right: 10px;
                color: #AD1FEA;
            }
        }

        .box {
            padding-left: 50px;
        }

        .reply_input {
            display: flex;
            margin: 20px 0 20px 0;

            textarea {
                width: 100%;
                height: 100px;
                resize: none;
                border: none;
                background-color: #F7F8FD;
                border-radius: 10px;
                padding: 20px;
                margin-right: 20px;

                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }


                &:focus {
                    outline: none;
                    border: 1px solid #4661E6;


                    &::placeholder {
                        opacity: 1;
                    }

                }
            }


        }

        .hide {
            display: none;
        }


    }

    .line {
        border-left: 1px solid #d1d2d5;
    }

    .reply {
        margin-left: 30px;
    }

    @media (max-width: 767px) {
        .content {
            .reply_input {
                flex-direction: column;
                align-items: flex-end;
                textarea {
                    margin: 0 0 20px 0;
                }

            }
        }
    }

}