.item {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 25px;
    transition: all 0.2s ease-in;
    cursor: pointer;

    &:hover {
        box-shadow: 1px 2px 5px #979797;

    }


    .content {
        width: 100%;

        h1 {
            font-size: 18px;
            font-weight: 700;

        }

        p {
            font-size: 16px;
            font-weight: 400;
            margin: 10px 0 10px 0;
        }



    }

    .comments {
        display: flex;
        align-items: center;

        svg {
            cursor: pointer;

            &:hover {
                path {
                    fill: #CFD7FF;
                }
            }
        }

        span {
            font-size: 16px;
            font-weight: 700;
            margin-left: 15px;
        }
    }


}