@font-face {
  font-family: 'Jost';
  src: url(../public/Jost/Jost-VariableFont_wght.ttf);
}

* {
  font-family: 'Jost';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #3A4374;
}

a {
  text-decoration: none;
}


.App {
  max-width: 1110px;
  margin: 30px auto;
  padding: 0 50px;
}

@media (max-width: 1000px) {
  .App {
    padding: 0 30px;
  }
}